@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great|Cabin+Sketch|Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,100italic,300italic,400italic);
.book.font-family-1 h1,
.book.font-family-1 h2,
.book.font-family-1 h3,
.book.font-family-1 h4,
.book.font-family-1 h5,
.book.font-family-1 h6, .book.font-family-0 h1,
.book.font-family-0 h2,
.book.font-family-0 h3,
.book.font-family-0 h4,
.book.font-family-0 h5,
.book.font-family-0 h6 {
  font-family: 'Lato', sans-serif;
  text-align: center; }

.book.font-family-1[data-filepath*='eternal'] h1,
.book.font-family-1[data-filepath*='eternal'] h2,
.book.font-family-1[data-filepath*='eternal'] h3,
.book.font-family-1[data-filepath*='eternal'] h4,
.book.font-family-1[data-filepath*='eternal'] h5,
.book.font-family-1[data-filepath*='eternal'] h6, .book.font-family-0[data-filepath*='eternal'] h1,
.book.font-family-0[data-filepath*='eternal'] h2,
.book.font-family-0[data-filepath*='eternal'] h3,
.book.font-family-0[data-filepath*='eternal'] h4,
.book.font-family-0[data-filepath*='eternal'] h5,
.book.font-family-0[data-filepath*='eternal'] h6 {
  font-family: 'Poiret One', 'Lato', sans-serif;
  font-weight: 100 !important; }

.book.font-family-1[data-filepath*='lich'] h1,
.book.font-family-1[data-filepath*='lich'] h2,
.book.font-family-1[data-filepath*='lich'] h3,
.book.font-family-1[data-filepath*='lich'] h4,
.book.font-family-1[data-filepath*='lich'] h5,
.book.font-family-1[data-filepath*='lich'] h6, .book.font-family-0[data-filepath*='lich'] h1,
.book.font-family-0[data-filepath*='lich'] h2,
.book.font-family-0[data-filepath*='lich'] h3,
.book.font-family-0[data-filepath*='lich'] h4,
.book.font-family-0[data-filepath*='lich'] h5,
.book.font-family-0[data-filepath*='lich'] h6 {
  font-family: 'Cabin Sketch', 'Lato', sans-serif;
  font-weight: 100 !important; }

.book.font-family-1[data-filepath*='cyclopean'] h1,
.book.font-family-1[data-filepath*='cyclopean'] h2,
.book.font-family-1[data-filepath*='cyclopean'] h3,
.book.font-family-1[data-filepath*='cyclopean'] h4,
.book.font-family-1[data-filepath*='cyclopean'] h5,
.book.font-family-1[data-filepath*='cyclopean'] h6, .book.font-family-0[data-filepath*='cyclopean'] h1,
.book.font-family-0[data-filepath*='cyclopean'] h2,
.book.font-family-0[data-filepath*='cyclopean'] h3,
.book.font-family-0[data-filepath*='cyclopean'] h4,
.book.font-family-0[data-filepath*='cyclopean'] h5,
.book.font-family-0[data-filepath*='cyclopean'] h6 {
  font-family: 'Fredericka the Great', 'Lato', sans-serif;
  font-weight: 100 !important; }

.book .book-header a[href*='GLOSSARY'], .book .book-header .pull-right, .book .book-header h1 {
  display: none; }

.book .book-summary {
  border-right: none; }
  .book .book-summary nav ul.summary li.chapter {
    position: relative; }
    .book .book-summary nav ul.summary li.chapter.active::after {
      color: #fff;
      content: "\25C0";
      display: block;
      font-size: 36px;
      line-height: 36px;
      position: absolute;
      right: -12px;
      text-align: right;
      text-shadow: -2px 0 0 #e8e8e8;
      top: 0;
      transform: scaleX(0.67); }
    .book .book-summary nav ul.summary li.chapter > a {
      border-right: 1px solid rgba(0, 0, 0, 0.07); }
    .book .book-summary nav ul.summary li.chapter > span {
      border-right: 1px solid rgba(0, 0, 0, 0.23); }
    .book .book-summary nav ul.summary li.chapter > a > b,
    .book .book-summary nav ul.summary li.chapter > span > b {
      display: none; }
  .book .book-summary nav ul.summary li.divider {
    margin: 0; }
  .book .book-summary nav ul.summary a.gitbook-link {
    background: rgba(0, 0, 0, 0.07);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07) inset;
    font-size: 12px;
    opacity: .67;
    padding: 2em 16px; }
  .book .book-summary nav > ul.summary > li.chapter {
    border-top: 1px solid rgba(0, 0, 0, 0.07); }
    .book .book-summary nav > ul.summary > li.chapter > a {
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      opacity: 0.8;
      text-transform: uppercase; }

.book .book-body .page-wrapper .page-inner section {
  margin: 0 2em; }
  .book .book-body .page-wrapper .page-inner section.normal a.glossary-term {
    border-bottom: 0.08em dotted #4183c4;
    color: inherit;
    text-decoration: none; }
    .book .book-body .page-wrapper .page-inner section.normal a.glossary-term:hover {
      border-bottom-style: solid;
      color: #4183c4;
      text-decoration: none; }

/* Themes */
.book.color-theme-1 .book-summary {
  border-right: none; }
  .book.color-theme-1 .book-summary nav ul.summary::before {
    background-color: #111;
    content: ""; }
  .book.color-theme-1 .book-summary nav ul.summary li.chapter.active::after {
    color: #F3EACB;
    content: "\25C0";
    text-shadow: -2px 0 0 rgba(0, 0, 0, 0.12); }

.book.color-theme-2 .book-summary nav ul.summary::before {
  background-color: #1c1f2b;
  content: ""; }

.book.color-theme-2 .book-summary nav ul.summary li.chapter.active::after {
  color: #1c1f2b;
  content: "\25C0";
  text-shadow: -2px 0 0 rgba(0, 0, 0, 0.12); }
